@model IEnumerable<Employee>
@{
    string title = "A list of employees";
    ViewData["Title"] = title;
}
<h3 class="text-center">@title</h3>
<br>
<a asp-action="AddEmployee" class="btn btn-info">Add</a>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Department</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Age</td>
                <td>@employee.Department.Name</td>
                <td>@employee.Language.Name</td>
                <td>
                    <a asp-action="EditEmployee" asp-route-id="@employee.Id" class="btn btn-primary">Change</a>
                    <a asp-action="DeleteEmployee" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
